/*Styles for etch a sketch*/

body {
	font-family: sans-serif;
	background: lightblue;
	text-align: center;
}

h1 {
	font-size: 32px;
	margin: 24px 0;
	padding: 0;
}

div.grid-container {
	display: grid;
	width: 500px;
	height: 500px;
	margin: 24px auto;
}

div.grid-item {
	background-color: whitesmoke;
	border: solid 1px slategray;
}

div.grid-item.filled {
	background-color: black;
}

div.input-container {
	margin: 24px auto;
}